a.out
*.o
*.so
*.bin
*.pyc
test
went-nowhere
.cache

/*/target
/*/build
/venv

/000-*
/007-mini-vm/minivm
/015-shitty-sve-ie/example/add_vecs
/017-qemu+dwarf/qemu
/030-mnist/data
/032-base64/base64-*
